name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
      - feature_1

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          cd frontend
          npm install

      - name: Build Frontend
        env:
          VITE_API_URL: ${{ secrets.VITE_API_URL }} # Inject secret here
        run: |
          cd frontend
          npm run build

      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MY_AI_ASSISTANT_EDC95 }}
          channelId: live
          projectId: my-ai-assistant-edc95
